pandas
pandas-stubs
pyarrow
ipaddress
apachelogs
user-agents
streamlit
matplotlib
seaborn
setuptools<82
scikit-learn
lime
shap
pydotplus
fastapi
fastapi[standard]
uvicorn
xgboost
ipywidgets
tpot
pmdarima
statsmodels
prophet
plotly
torch
torchvision
adversarial-robustness-toolbox
keras
tensorflow
sentence-transformers
phonenumbers
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain_huggingface
langchain-community
pypdf
